[Unit]
Description=Bell Schedule PHP Script
After=network.target

[Service]
ExecStart=/usr/bin/php /var/www/html/execute.php
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
